<ion-header>
  <ion-toolbar color="primary">
    <ion-title>QR Scanner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Fallback for iOS PWA -->
  <input #fileinput type="file" accept="image/*;capture=camera" hidden (change)="handleFile($event)">

  <!-- Trigger the file input -->
  <ion-button expand="full" (click)="captureImage()">
    <ion-icon slot="start" name="camera"></ion-icon>
    Upload & Scan Image
  </ion-button>

  <ion-button expand="full" (click)="startScan()">
    <ion-icon slot="start" name="scan-outline"></ion-icon>
    Start scan
  </ion-button>

  <ion-button expand="full" (click)="reset()" color="warning" *ngIf="scanResult">
    <ion-icon slot="start" name="refresh"></ion-icon>
    Reset
  </ion-button>


  <ion-row class="ion-align-items-center">
    <ion-col size="2"></ion-col>
    <ion-col size="8">
      <!-- Shows our camera stream -->
      <video #video [hidden]="!scanActive" width="100%" height="300px"></video>
    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>

  <!-- Used to render the camera stream images -->
  <canvas #canvas hidden></canvas>

  <!-- Stop our scanner preview if active -->
  <ion-button expand="full" (click)="stopScan()" color="danger" *ngIf="scanActive">
    <ion-icon slot="start" name="close"></ion-icon>
    Stop scan
  </ion-button>

  <ion-card *ngIf="scanResult || failedToReadQRCode">
    <ion-card-header>
      <ion-card-title>QR Code</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ng-container *ngIf="scanResult; else failedToReadQRCodeSection;">
        <ng-container [ngSwitch]="formatScanResult()">
          <ng-container *ngSwitchCase="'sms'">
            <ng-container *ngTemplateOutlet="displaySMSMetadataTemplate"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'url'">
            <ng-container *ngTemplateOutlet="displayURLMetadataTemplate"></ng-container>
          </ng-container>

          <ng-container *ngSwitchDefault>
            <ng-container *ngTemplateOutlet="displayTextMetadataTemplate"></ng-container>
          </ng-container>


          <ng-template #displaySMSMetadataTemplate>
            <p *ngIf="smsToScanResult?.phoneNumber"> {{ smsToScanResult.phoneNumber }} </p>
            <p *ngIf="smsToScanResult?.message"> {{ smsToScanResult.message }} </p>


            <a *ngIf="platformIsIOS; else platformNotIOS;"
              href="sms:{{ smsToScanResult?.phoneNumber ? smsToScanResult.phoneNumber: '' }}">
              <ion-button expand="block">
                <ion-icon name="open"></ion-icon>
                Send SMS
              </ion-button>
            </a>
            <ng-template #platformNotIOS>
              <a
                href="sms:{{ smsToScanResult?.phoneNumber ? smsToScanResult.phoneNumber: '' }}{{smsToScanResult?.message ? '?body='+manuallyEncodeURIComponent(smsToScanResult.message): '' }}">
                <ion-button expand="block">
                  <ion-icon name="open"></ion-icon>
                  Send SMS
                </ion-button>
              </a>
            </ng-template>

          </ng-template>

          <ng-template #displayURLMetadataTemplate>
            <a [routerLink]="null" (click)="openQrCodeLink()"><span>{{ scanResult }}</span></a>
            <a [routerLink]="null" (click)="openQrCodeLink()">
              <ion-button expand="block">
                <ion-icon name="open"></ion-icon>
                Open
              </ion-button>
            </a>
          </ng-template>

          <ng-template #displayTextMetadataTemplate>
            {{ scanResult }}
          </ng-template>
        </ng-container>
        <ion-button expand="block" (click)="sharePropertyUsingTheWebShareApi()" *ngIf="canShare()">
          <ion-icon name="share-social"></ion-icon>
          Share
        </ion-button>
        <ion-card div class="card">
          <img *ngIf="imgObjectURLs?.length" [src]="sanitizeImgSrcURL(imgObjectURLs[imgObjectURLs.length-1])" />
        </ion-card>
      </ng-container>
      <ng-template #failedToReadQRCodeSection>
        <span [style.color]="'#eb445a'">
          <ion-icon slot="start" name="warning"></ion-icon> Failed to read QR Code from image.
        </span>
      </ng-template>

    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="dark" *ngIf="promptEvent" (click)="installPwa()">
    <ion-icon name="download"></ion-icon> Install App
  </ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary" *ngIf="appIsOnline">
    <ion-title>You are online :)</ion-title>
  </ion-toolbar>
  <ion-toolbar color="danger" *ngIf="!appIsOnline">
    <ion-title>You are offline :(</ion-title>
  </ion-toolbar>
</ion-footer>