<ion-header>
  <ion-toolbar color="primary">
    <ion-title>QR Scanner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Fallback for iOS PWA -->
  <input #fileinput type="file" accept="image/*;capture=camera" hidden (change)="handleFile($event)">

  <!-- Trigger the file input -->
  <ion-button expand="full" (click)="captureImage()">
    <ion-icon slot="start" name="camera"></ion-icon>
    Upload & Scan Image
  </ion-button>

  <ion-button expand="full" (click)="startScan()">
    <ion-icon slot="start" name="scan-outline"></ion-icon>
    Start scan
  </ion-button>

  <ion-button expand="full" (click)="reset()" color="warning" *ngIf="scanResult">
    <ion-icon slot="start" name="refresh"></ion-icon>
    Reset
  </ion-button>


  <ion-row class="ion-align-items-center">
    <ion-col size="2"></ion-col>
    <ion-col size="8">
      <!-- Shows our camera stream -->
      <video #video [hidden]="!scanActive" width="100%" height="300px"></video>
    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>

  <!-- Used to render the camera stream images -->
  <canvas #canvas hidden></canvas>

  <!-- Stop our scanner preview if active -->
  <ion-button expand="full" (click)="stopScan()" color="danger" *ngIf="scanActive">
    <ion-icon slot="start" name="close"></ion-icon>
    Stop scan
  </ion-button>

  <ion-card *ngIf="scanResult || failedToReadQRCode">
    <ion-card-header>
      <ion-card-title>QR Code</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ng-container *ngIf="scanResult; else failedToReadQRCodeSection;">
        <ng-container *ngIf="readQRCodeIsURL(scanResult); else qrCodeValueIsProbablyNotAURL;">
          <span (click)="openURL()" [style.cursor]="'pointer'">{{ scanResult }}</span>
          <ion-button expand="block" (click)="openURL()">
            <ion-icon name="open"></ion-icon>
            Open
          </ion-button>
          <ion-card div class="card">
            <img *ngIf="imgObjectURLs[0]?.trim()?.length" [src]="sanitizeImgSrcURL(imgObjectURLs[0])" />
          </ion-card>
        </ng-container>
        <ng-template #qrCodeValueIsProbablyNotAURL>
          {{ scanResult }}
        </ng-template>
      </ng-container>
      <ng-template #failedToReadQRCodeSection>
        <span [style.color]="'#eb445a'">
          <ion-icon slot="start" name="warning"></ion-icon> Failed to read QR Code from image.
        </span>
      </ng-template>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="dark" *ngIf="promptEvent" (click)="installPwa()">
    <ion-icon name="download"></ion-icon> Install App
  </ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary" *ngIf="appIsOnline">
    <ion-title>You are online :)</ion-title>
  </ion-toolbar>
  <ion-toolbar color="danger" *ngIf="!appIsOnline">
    <ion-title>You are offline :(</ion-title>
  </ion-toolbar>
</ion-footer>